.ev-pt1{
    position: relative;
    padding:  4.625rem 0rem;
}
.ev-w{
    width: 10.875rem;
    height: 4.0625rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.ev-w>h4{
    font-family:david libre;
    font-weight:bolder ;
    font-size: 2.9rem;
    padding-top: 3.90rem;
}

.bg-ev{
    opacity: 0.1;
    height: 100%;
    width: 100%;
    transform: translate(-35%);
}

.ev-pt2{
    display: flex;
    align-items: center;
    justify-content: center;
}

/* image carousel */

  .slider-ev {
    text-align: center;
    font-size: 1.125rem;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;

    & img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .event-c{
    padding: 1.875rem;
    border:none !important;
    cursor: pointer; 
    height: auto;
    & img{
      height: 18.75rem;
    }
    & .card-body{
      background-color: black;

      & .card-title{
        color: white !important;
      }

      & .card-text{
        color: white !important;
      }
    }
}


 .btn-ev{ 
  border-color: rgba(255,132,0,1) !important;
  position: absolute;
  transform: translate(-50%, -50%); 
  width: 11.25rem; 
  height: 3.75rem; 
  text-decoration: none; 
  text-align: center; 
  margin-top: 2.5rem; 
  font-size: 1.25rem; 
  overflow: hidden; 
  background: rgb(230,231,19);
  background: linear-gradient(90deg, rgba(230,231,19,1) 9%, rgba(255,132,0,1) 100%);
  border-radius: 0px !important;
  font-size: larger !important;
  font-weight: bolder;
  translate: 50%;
} 

.btn-ev::before { 
  content: ""; 
  position: absolute; 
  width: 0; 
  height: 0; 
  left: 0; 
  bottom: 0; 
  border-style: solid; 
  border-color:white; 
  border-width: 5rem 6.25rem; 
  z-index: -1; 
  transform: rotate(360deg); 
  transition: 1s; 
  transform-origin: left; 
} 

.btn-ev:hover::before { 
  border-color:yellow; 
  transform: rotate(60deg); 
}

/* image gallery */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600&family=Roboto:wght@300;400;500;900&display=swap");


:root {
  --color-ats-primary: #4527a0;
  --color-ats-secondary: #6a1b9a;
  --color-light: #fff;
  --color-1: #0f2027;
  --color-2: #203a4300;
  --color-3: #2c536400;
}
.l-band {
  position: relative;
  
  margin: 0 auto;
  min-height: 100vh;
  column-gap: 3rem;
  
}

.l-band .l-band__header-subtitle {
  text-transform: uppercase;
  letter-spacing: 1.5px;
  font-size: 1rem;
  color: #717171;
}
.l-band .l-band__header-title {
  text-transform: capitalize;
  letter-spacing: 0.8px;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-size: clamp(3.4375rem, 3.25rem + 0.75vw, 4rem);
  background-color: #005baa;
  background-image: linear-gradient(45deg, var(--color-ats-primary), var(--color-ats-secondary));
  background-size: 100%;
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}
.l-band .l-band__header hr {
  display: block;
  width: 6.25rem;
  height: 0.25rem;
  margin: 1.125rem 0 1.875rem 0;
  background: var(--color-ats-primary);
  border: none;
}
.l-band .l-band__header-description {
  line-height: 1.6;
}
.l-band .l-band__header-link {
  margin-top: 2.188rem;
  padding: 0.625rem 1.875rem;
  border: 2px solid var(--color-ats-primary);
  color: var(--color-ats-primary);
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 500;
  background: var(--color-light);
  border-radius: 3.125rem;
  transition: 0.3s ease-in-out;
}
.l-band .l-band__header-link:hover {
  background-image: linear-gradient(45deg, var(--color-ats-primary), var(--color-ats-secondary));
  border: 0.125rem solid var(--color-ats-secondary);
  color: var(--color-light);
}

.c-card {
  display: none;
  opacity: 0;
  padding-bottom: 0.625rem;
}
.c-card__title {
  color: var(--color-light);
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.4;
  margin-bottom: 0.625rem;
  padding: 0 0 0 1.563rem;
  text-transform: uppercase;
}
.c-card__instrument {
  color: #dadada;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  padding: 0 1.563rem 4rem;
  line-height: 1.6;
  font-size: 0.75rem;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.swiper-im {
  width: 60%;
  
  
  
}
.swiper-slide {
  border-radius: 18px;
  width: 18.75rem;
  height: 30.125rem;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: self-start;
}


.swiper-pagination {
  bottom: 1.25rem !important;
}
.swiper-pagination-bullet, .swiper-pagination-bullet-active {
  background: var(--color-light);
}

.swiper-slide--1 {
  background: linear-gradient(to top, var(--color-1), var(--color-2), var(--color-3)), url("..//images/im1.jpg ") no-repeat 50% 50%/cover;
  
}
.swiper-slide--2 {
  background: linear-gradient(to top, var(--color-1), var(--color-2), var(--color-3)), url("../images/im2.jpg") no-repeat 50% 50%/cover;
}
.swiper-slide--3 {
  background: linear-gradient(to top, var(--color-1), var(--color-2), var(--color-3)), url("../images/im3.jpg") no-repeat 50% 50%/cover;
}
.swiper-slide--4 {
  background: linear-gradient(to top, var(--color-1), var(--color-2), var(--color-3)), url("../images/im4.jpg") no-repeat 50% 50%/cover;
}
.swiper-slide--5 {
  background: linear-gradient(to top, var(--color-1), var(--color-2), var(--color-3)), url("../images/im5.jpg") no-repeat 50% 50%/cover;
}
.swiper-slide-active .c-card {
  display: block;
  opacity: 1;
}

.swiper-3d .swiper-slide-shadow-left,
.swiper-3d .swiper-slide-shadow-right {
  background-image: none;
}



.menu-card-text{
  text-align: center;
}
@media (max-width:450px) {
  .swiper-im {
    width: 50%;
    
  }
}

@media (max-width: 768px) {
  .swiper-im {
    width: 100%; /* Adjust the width for smaller screens */
  }
  .swiper-slide {
    width: 100%; /* Adjust the width for smaller screens */
    height: 500px; /* Allow slides to adjust their height */
  }
}

.backim{
  width: 200px;
  height: 200px;
  position: relative;
  margin: 0;
  justify-content: end;
  top: 20px;
  opacity:.5;
}
.list{
  text-align: end;
  list-style: none;
}
@media (max-width:600px) {
  .backim{
    width: 100px;
    height: 100px;
    position: relative;
    margin: 0;
    
    
  }
  
}
.list-last{
  text-align: start;
  list-style: none;
} 
.menu-card-text{
  
    font-family:david libre;
    font-weight:bolder ;
    font-size: 2.9rem;
    padding-top: 3.90rem;

}
/* img gallery end */
